@font-face{
  font-family: 'Inconsolata';
  src:url(../fonts/Inconsolata.otf);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer > p {
  display: table;
  margin: 0 auto;
  padding: 20px 0;
}

header {
  padding:20px;
  background-color: #ffffff;
}

h1{
  margin: 0px;
}

nav li a{
  padding: 25px;
}

a{
  text-decoration: none;
}

nav {
  margin-top: 16px;
}

nav a:hover {
  text-decoration: none;
}

nav li:hover, nav a:hover{
  background-color: #dddddd;
}

*{
  font-family: 'Inconsolata', Monaco, Consolas, 'Courier New', Courier;
}

body{
  /*background-color: #ddddff;*/
}

h1{
  display: inline-block;
}

#code-navbar {
  font-family: 'Inconsolata', Monaco, Consolas, 'Courier New', Courier;
  float:right;
}

#code-navbar p, #code-navbar li, #code-navbar p, #code-navbar ul{
  display: inline-block;
}

#code-navbar ul{
  padding:0;
}

a.icon-github-circled-1 {
  width:0;
  display: block;
  font-size: 2em;
  padding: 0 1em 0 0;
  color: #000000;
  text-decoration: none;
}

a.icon-github-circled-1::before {
  padding: 0;
  margin: 0;
}

footer, header {
  background-color: #cccccc;
}
