@font-face{
  font-family: 'Inconsolata';
  src:url(../fonts/Inconsolata.otf);
}

footer {
  width: 100%;
}

footer > p {
  display: table;
  margin: 0 auto;
  padding: 20px 0;
}

header {
  padding:20px;
  background-color: #ffffff;
}

h1{
  margin: 0px;
}

nav li a{
  padding: 25px;
}

a{
  text-decoration: none;
}

nav {
  margin-top: 10px;
}

nav ol{
  margin: 0px;
}

nav a:hover {
  text-decoration: none;
}

nav li:hover, nav a:hover{
  background-color: #dddddd;
}

*{
  font-family: 'Inconsolata', Monaco, Consolas, 'Courier New', Courier;
}

html {
  height: 100%;
  min-height: 100%;
}

body{
  position: relative;
  height: 100%;
}

h1{
  display: inline-block;
}

#code-navbar {
  font-family: 'Inconsolata', Monaco, Consolas, 'Courier New', Courier;
  float:right;
}

#code-navbar p, #code-navbar li, #code-navbar p, #code-navbar ul{
  display: inline-block;
}

#code-navbar ul{
  padding:0;
}

a.icon-github-circled-1 {
  width:0;
  display: block;
  font-size: 2em;
  padding: 0 1em 0 0;
  color: #000000;
  text-decoration: none;
}

a.icon-github-circled-1::before {
  padding: 0;
  margin: 0;
}

form#searchform {
  margin: 1em;
}

form#searchform > button.searchbutton > i.icon-github-circled-1{
  visibility: visible;
}

form#searchform > button.searchbutton{
  visibility: hidden;
}

footer, header {
  background-color: #cccccc;
}

#content {
  min-height: 875px;
    margin: 10px;
    box-sizing: border-box;
}

.postblock {
  padding: 0.5em;
  border-radius: 3px;
  margin: 0.5em;
}

.postblock.odd {
  background: #d8d8d8;
}

.postblock.even {
  background: #a7a7a7;
}

.postblock .projdesc {
  display: inline-block;
  position: absolute;
  width: 80%;
  margin:0.5em;
}

.postblock img {
  display: inline-block;
  margin:0.5em;
  width: 250px;
  height:250px;
}

.postblock h3 {
  padding: 0.5em;
  font-weight: 900;
}

.postblock .descwrapper {
  padding: 1em;
  background-color: #e9e9e9;
}

#menu {
  margin-top: 20px;
}

#menu i, #menu form {
  display: inline;
}

#category-list {

}

#category-list li {
  list-style: none;
}

#aboutpage header {
  padding-bottom: 52px;
}
