{% extends "base.html" %}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block navbar %}
<!-- <div class="btn-group btn-group-justified" id="main-navbar">
    <a class="btn btn-default" href="/" role="button">Blog</a>
    <a class="btn btn-default active" href="#" role="button">Projects</a>
    <a class="btn btn-default" href="/about" role="button">About</a>
</div>-->
<header>
  <h1>{{title}}</h1>
  <nav id="code-navbar">
      <ul>
        <li><a class="active" href="#" role="button">BLOG</a></li>
        <li><a class="" href="{% url 'projects:index' %}" role="button">PROJECTS</a></li>
        <li><a class="" href="{% url 'aboutpage:index' %}" role="button">ABOUT</a></li>
      </ul>
  </nav>
</header>
{% endblock %}

{% block main %}

<form id="searchform" class="input-group" action="{% url 'blog:index' %}" method="get" accept-charset="utf-8">
  <input class="searchfield from-control" id="searchbox" name="q" type="text" placeholder="Search">
</form>

  {% if query %}
    <p>You searched for: {{query}}</p>
  {% endif %}

{% for codepost in codeposts %}
  <p class="{% cycle 'odd' 'even' %}"><a href="blog/{{codepost.slug}}">{{codepost.title}}</a></p>
{% endfor %}
{% if codeposts.has_other_pages %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if codeposts.has_previous %}
      <li><a aria-label="Previous" href="?page={{ codeposts.previous_page_number }}{% if query %}+{{query}}{% endif %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in codeposts.paginator.page_range %}
      {% if codeposts.number == i %}
      <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
      {% else %}
      <li><a href="?page={{ i }}{% if query %}&q={{ query}}{% endif %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
      {% if codeposts.has_next %}
      <li><a aria-label="Next" href="?page={{ codeposts.next_page_number }}{% if query %}+{{query}}{% endif %}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
