{% extends "base.html" %}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block navbar %}
<div class="btn-group btn-group-justified" id="main-navbar">
    <a class="btn btn-default active" href="#" role="button">Blog</a>
    <a class="btn btn-default" href="/projects" role="button">Projects</a>
    <a class="btn btn-default" href="/about" role="button">About</a>
</div>
{% endblock %}

{% block main %}

<form id="searchform" action="{% url 'blog:index' %}" method="get" accept-charset="utf-8">
      <button class="searchbutton" type="submit">
        Search
      </button>
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
</form>

<p>{{ codepostst }}</p>

  {% if specialstyle %}
    <p>This is the GET index page</p>
  {% else %}
    <p>This is the next index page right here</p>
  {% endif %}

{% for codepost in codeposts %}
  <p>{{codepost.title}}</p>
{% endfor %}
{% if codeposts.has_other_pages %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if codeposts.has_previous %}
      <li><a aria-label="Previous" href="?page={{ codeposts.previous_page_number }}{% if query %}+{{query}}{% endif %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in codeposts.paginator.page_range %}
      {% if codeposts.number == i %}
      <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
      {% else %}
      <li><a href="?page={{ i }}{% if query %}&q={{ query}}{% endif %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
      {% if codeposts.has_next %}
      <li><a aria-label="Next" href="?page={{ codeposts.next_page_number }}{% if query %}+{{query}}{% endif %}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
