{% extends "base.html" %}
{% block header %}
{% include "header.html" %}
{% endblock %}

{% block navbar %}
<!-- <div class="btn-group btn-group-justified" id="main-navbar">
    <a class="btn btn-default" href="/" role="button">Blog</a>
    <a class="btn btn-default active" href="#" role="button">Projects</a>
    <a class="btn btn-default" href="/about" role="button">About</a>
</div>-->
<header>
  <h1>{{title}}</h1>
  <nav id="code-navbar">
      <ul>
        <li><a class="" href="{% url 'blog:index' %}" role="button">BLOG</a></li>
        <li><a class="active" href="#" role="button">PROJECTS</a></li>
        <li><a class="" href="{% url 'aboutpage:index' %}" role="button">ABOUT</a></li>
      </ul>
  </nav>
</header>
{% endblock %}
{% block main %}

<form id="searchform" class="input-group" action="{% url 'projects:index' %}" method="get" accept-charset="utf-8">
  <input class="searchfield from-control" id="searchbox" name="q" type="text" placeholder="Search">
</form>

{% if query %}
  <p>You searched for: {{query}}</p>
  <hr>
{% endif %}
 <p>This is the projects index page</p>
{% for project in projects %}
<div class="postblock {% cycle 'odd' 'even' %}">
  <img style="width:200px;height:200px" src="{{project.thumb.url}}">
<h3><a href="projects/{{project.slug}}">{{project.title}}</a></h3>
<p>{{project.description}}</p>
{% if project.category %}
<ul id="category-list">
  {% for cat in project.category.all %}
 <li>
   {{ cat }}
 </li>
  {% endfor %}
</ul>
{% endif %}
</div>
{% endfor %}

{# navbar #}
{% if projects.has_other_pages %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if projects.has_previous %}
      <li><a aria-label="Previous" href="?page={{ projects.previous_page_number }}{% if query %}+{{query}}{% endif %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in projects.paginator.page_range %}
      {% if projects.number == i %}
      <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
      {% else %}
      <li><a href="?page={{ i }}{% if query %}&q={{ query}}{% endif %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
      {% if projects.has_next %}
      <li><a aria-label="Next" href="?page={{ projects.next_page_number }}{% if query %}+{{query}}{% endif %}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}
