{% extends "base.html" %}
{% block header %}
{% include "header.html" %}
{% endblock %}

{% block navbar %}
<!-- <div class="btn-group btn-group-justified" id="main-navbar">
    <a class="btn btn-default" href="/" role="button">Blog</a>
    <a class="btn btn-default active" href="#" role="button">Projects</a>
    <a class="btn btn-default" href="/about" role="button">About</a>
</div>-->
<header>
  <h1>{{title}}</h1>
  <nav id="code-navbar">
      <ul>
        <li><a class="" href="{% url 'blog:index' %}" role="button">BLOG</a></li>
        <li><a class="active" href="#" role="button">PROJECTS</a></li>
        <li><a class="" href="{% url 'aboutpage:index' %}" role="button">ABOUT</a></li>
      </ul>
  </nav>
</header>
{% endblock %}
{% block main %}

<form id="searchform" class="input-group" action="{% url 'projects:index' %}" method="get" accept-charset="utf-8">
  <input class="searchfield from-control" id="searchbox" name="q" type="text" placeholder="Search">
</form>

{% if query %}
  <p>You searched for: {{query}}</p>
{% endif %}
 <p>This is the projects index page</p>
{% for project in projects %}
<p class="{% cycle 'odd' 'even' %}"><a href="projects/{{project.slug}}">{{project.title}}</a></p>
<p><img style="width:200px;height:200px" src="/static/media/{{project.thumb}}"</p>
{% endfor %}
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}
