{% extends "base.html" %}
{% block header %}
{% include "header.html" %}
{% endblock %}

{% block navbar %}
<div class="btn-group btn-group-justified" id="main-navbar">
    <a class="btn btn-default" href="/" role="button">Blog</a>
    <a class="btn btn-default active" href="#" role="button">Projects</a>
    <a class="btn btn-default" href="/about" role="button">About</a>
</div>
{% endblock %}
{% block main %}
 <p>This is the projects index page</p>
{% for project in projects %}
<p class="{% cycle 'odd' 'even' %}"><a href="projects/{{project.slug}}">{{project.title}}</a></p>
{% endfor %}
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}
