{% extends "base.html" %}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block navbar %}
<!-- <div class="btn-group btn-group-justified" id="main-navbar">
    <a class="btn btn-default" href="/" role="button">Blog</a>
    <a class="btn btn-default active" href="#" role="button">Projects</a>
    <a class="btn btn-default" href="/about" role="button">About</a>
</div>-->
<header>
  <h1>{{title}}</h1>
  <div id="menu">

  <nav id="code-navbar">
      <ul>
        <li><a class="" href="{% url 'blog:index' %}" role="button">BLOG</a></li>
        <li><a  href="{% url 'projects:index' %}" role="button">PROJECTS</a></li>
        <li><a class="active" href="#" role="button">ABOUT</a></li>
      </ul>
  </nav>
  <div>
</header>
{% endblock %}

{% block main %}

<p>This is the about page</p>
<h2>{{ object.title }}</h2>
<p>{{ object.content }}</p>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
