{% extends "base.html" %}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block navbar %}
<div class="btn-group btn-group-justified" id="main-navbar">
    <a class="btn btn-default" href="/" role="button">Blog</a>
    <a class="btn btn-default" href="/projects" role="button">Projects</a>
    <a class="btn btn-default active" href="#" role="button">About</a>
</div>
{% endblock %}

{% block main %}
<p>This is the about page</p>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
